<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.northsky.dao.ChannelProgrammeRelationPOMapper">
  <resultMap id="BaseResultMap" type="com.northsky.model.po.ChannelProgrammeRelationPO">
    <id column="channel_programme_id" jdbcType="INTEGER" property="channelProgrammeId" />
    <result column="channel_id" jdbcType="INTEGER" property="channelId" />
    <result column="programme_id" jdbcType="INTEGER" property="programmeId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    channel_programme_id, channel_id, programme_id, status, create_time, status_time, 
    description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from channel_programme_relation
    where channel_programme_id = #{channelProgrammeId,jdbcType=INTEGER}
  </select>
  <select id="findByChannelId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from channel_programme_relation
    where channel_id = #{0}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from channel_programme_relation
    where channel_programme_id = #{channelProgrammeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.northsky.model.po.ChannelProgrammeRelationPO">
    insert into channel_programme_relation (channel_programme_id, channel_id, programme_id, 
      status, create_time, status_time, 
      description)
    values (#{channelProgrammeId,jdbcType=INTEGER}, #{channelId,jdbcType=INTEGER}, #{programmeId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{statusTime,jdbcType=TIMESTAMP}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.northsky.model.po.ChannelProgrammeRelationPO">
    insert into channel_programme_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="channelProgrammeId != null">
        channel_programme_id,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="programmeId != null">
        programme_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="statusTime != null">
        status_time,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="channelProgrammeId != null">
        #{channelProgrammeId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="programmeId != null">
        #{programmeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusTime != null">
        #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.northsky.model.po.ChannelProgrammeRelationPO">
    update channel_programme_relation
    <set>
      <if test="channelId != null">
        channel_id = #{channelId,jdbcType=INTEGER},
      </if>
      <if test="programmeId != null">
        programme_id = #{programmeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusTime != null">
        status_time = #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where channel_programme_id = #{channelProgrammeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.northsky.model.po.ChannelProgrammeRelationPO">
    update channel_programme_relation
    set channel_id = #{channelId,jdbcType=INTEGER},
      programme_id = #{programmeId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status_time = #{statusTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR}
    where channel_programme_id = #{channelProgrammeId,jdbcType=INTEGER}
  </update>
</mapper>