<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.northsky.dao.FavouriteRecordPOMapper">
  <resultMap id="BaseResultMap" type="com.northsky.model.po.FavouriteRecordPO">
    <id column="favourite_id" jdbcType="BIGINT" property="favouriteId" />
    <result column="party_id" jdbcType="INTEGER" property="partyId" />
    <result column="media_id" jdbcType="INTEGER" property="mediaId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="last" jdbcType="VARCHAR" property="last" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    favourite_id, party_id, media_id, type, last, status, create_time, status_time, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from favourite_record
    where favourite_id = #{favouriteId,jdbcType=BIGINT}
  </select>
  <select id="selectByPartyId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from favourite_record
    where party_id = #{0}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from favourite_record
    where favourite_id = #{favouriteId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.northsky.model.po.FavouriteRecordPO">
    insert into favourite_record (favourite_id, party_id, media_id, 
      type, last, status, 
      create_time, status_time, description
      )
    values (#{favouriteId,jdbcType=BIGINT}, #{partyId,jdbcType=INTEGER}, #{mediaId,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR}, #{last,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{statusTime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.northsky.model.po.FavouriteRecordPO">
    insert into favourite_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="favouriteId != null">
        favourite_id,
      </if>
      <if test="partyId != null">
        party_id,
      </if>
      <if test="mediaId != null">
        media_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="last != null">
        last,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="statusTime != null">
        status_time,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="favouriteId != null">
        #{favouriteId,jdbcType=BIGINT},
      </if>
      <if test="partyId != null">
        #{partyId,jdbcType=INTEGER},
      </if>
      <if test="mediaId != null">
        #{mediaId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="last != null">
        #{last,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusTime != null">
        #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.northsky.model.po.FavouriteRecordPO">
    update favourite_record
    <set>
      <if test="partyId != null">
        party_id = #{partyId,jdbcType=INTEGER},
      </if>
      <if test="mediaId != null">
        media_id = #{mediaId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="last != null">
        last = #{last,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusTime != null">
        status_time = #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where favourite_id = #{favouriteId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.northsky.model.po.FavouriteRecordPO">
    update favourite_record
    set party_id = #{partyId,jdbcType=INTEGER},
      media_id = #{mediaId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      last = #{last,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status_time = #{statusTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR}
    where favourite_id = #{favouriteId,jdbcType=BIGINT}
  </update>
</mapper>