<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.northsky.dao.StationChannelRelationPOMapper">
  <resultMap id="BaseResultMap" type="com.northsky.model.po.StationChannelRelationPO">
    <id column="station_channel_id" jdbcType="INTEGER" property="stationChannelId" />
    <result column="station_id" jdbcType="INTEGER" property="stationId" />
    <result column="channel_id" jdbcType="INTEGER" property="channelId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    station_channel_id, station_id, channel_id, status, create_time, status_time, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from station_channel_relation
    where station_channel_id = #{stationChannelId,jdbcType=INTEGER}
  </select>
  <select id="findByStationId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from station_channel_relation
    where station_id = #{0}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from station_channel_relation
    where station_channel_id = #{stationChannelId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.northsky.model.po.StationChannelRelationPO">
    insert into station_channel_relation (station_channel_id, station_id, channel_id, 
      status, create_time, status_time, 
      description)
    values (#{stationChannelId,jdbcType=INTEGER}, #{stationId,jdbcType=INTEGER}, #{channelId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{statusTime,jdbcType=TIMESTAMP}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.northsky.model.po.StationChannelRelationPO">
    insert into station_channel_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stationChannelId != null">
        station_channel_id,
      </if>
      <if test="stationId != null">
        station_id,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="statusTime != null">
        status_time,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stationChannelId != null">
        #{stationChannelId,jdbcType=INTEGER},
      </if>
      <if test="stationId != null">
        #{stationId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusTime != null">
        #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.northsky.model.po.StationChannelRelationPO">
    update station_channel_relation
    <set>
      <if test="stationId != null">
        station_id = #{stationId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null">
        channel_id = #{channelId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusTime != null">
        status_time = #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where station_channel_id = #{stationChannelId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.northsky.model.po.StationChannelRelationPO">
    update station_channel_relation
    set station_id = #{stationId,jdbcType=INTEGER},
      channel_id = #{channelId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status_time = #{statusTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR}
    where station_channel_id = #{stationChannelId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.northsky.model.po.StationChannelRelationPO">
    <id column="station_channel_id" jdbcType="INTEGER" property="stationChannelId" />
    <result column="station_id" jdbcType="INTEGER" property="stationId" />
    <result column="channel_id" jdbcType="INTEGER" property="channelId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    station_channel_id, station_id, channel_id, status, create_time, status_time, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from station_channel_relation
    where station_channel_id = #{stationChannelId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from station_channel_relation
    where station_channel_id = #{stationChannelId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.northsky.model.po.StationChannelRelationPO">
    insert into station_channel_relation (station_channel_id, station_id, channel_id, 
      status, create_time, status_time, 
      description)
    values (#{stationChannelId,jdbcType=INTEGER}, #{stationId,jdbcType=INTEGER}, #{channelId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{statusTime,jdbcType=TIMESTAMP}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.northsky.model.po.StationChannelRelationPO">
    insert into station_channel_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stationChannelId != null">
        station_channel_id,
      </if>
      <if test="stationId != null">
        station_id,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="statusTime != null">
        status_time,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stationChannelId != null">
        #{stationChannelId,jdbcType=INTEGER},
      </if>
      <if test="stationId != null">
        #{stationId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusTime != null">
        #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.northsky.model.po.StationChannelRelationPO">
    update station_channel_relation
    <set>
      <if test="stationId != null">
        station_id = #{stationId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null">
        channel_id = #{channelId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusTime != null">
        status_time = #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where station_channel_id = #{stationChannelId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.northsky.model.po.StationChannelRelationPO">
    update station_channel_relation
    set station_id = #{stationId,jdbcType=INTEGER},
      channel_id = #{channelId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status_time = #{statusTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR}
    where station_channel_id = #{stationChannelId,jdbcType=INTEGER}
  </update>
</mapper>