<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.northsky.dao.SystemSessionPOMapper">
  <resultMap id="BaseResultMap" type="com.northsky.model.po.SystemSessionPO">
    <id column="session_id" jdbcType="BIGINT" property="sessionId" />
    <result column="party_id" jdbcType="INTEGER" property="partyId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="organization_id" jdbcType="INTEGER" property="organizationId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="logout_time" jdbcType="TIMESTAMP" property="logoutTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    session_id, party_id, role_id, organization_id, status, login_time, logout_time, 
    description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from system_session
    where session_id = #{sessionId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from system_session
    where session_id = #{sessionId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.northsky.model.po.SystemSessionPO">
    insert into system_session (session_id, party_id, role_id, 
      organization_id, status, login_time, 
      logout_time, description)
    values (#{sessionId,jdbcType=BIGINT}, #{partyId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{organizationId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{loginTime,jdbcType=TIMESTAMP}, 
      #{logoutTime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.northsky.model.po.SystemSessionPO">
    insert into system_session
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sessionId != null">
        session_id,
      </if>
      <if test="partyId != null">
        party_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="organizationId != null">
        organization_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="logoutTime != null">
        logout_time,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sessionId != null">
        #{sessionId,jdbcType=BIGINT},
      </if>
      <if test="partyId != null">
        #{partyId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="organizationId != null">
        #{organizationId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logoutTime != null">
        #{logoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.northsky.model.po.SystemSessionPO">
    update system_session
    <set>
      <if test="partyId != null">
        party_id = #{partyId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="organizationId != null">
        organization_id = #{organizationId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logoutTime != null">
        logout_time = #{logoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where session_id = #{sessionId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.northsky.model.po.SystemSessionPO">
    update system_session
    set party_id = #{partyId,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      organization_id = #{organizationId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      logout_time = #{logoutTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR}
    where session_id = #{sessionId,jdbcType=BIGINT}
  </update>
</mapper>